<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MonkeModManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MonkeModManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <MonkeModManager.Properties.Settings>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Instance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstallDirectory" serializeAs="String">
                <value />
            </setting>
        </MonkeModManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MonkeModManager.Properties.Settings>
            <setting name="DarkMode" serializeAs="String">
                <value />
            </setting>
        </MonkeModManager.Properties.Settings>
    </applicationSettings>
</configuration>